{% extend main.html %}
{% block links %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/chat_tab.css">
{% endblock %}
{% block content%}
<header >
    <h4>{{ name of the contact}}</h4>

</header>
<div>
    <div>main chat</div>
    <table class="sender">
        <tr>message 1</tr>
        <tr>message 2</tr>
    </table>
    <table class="receiver">
        <tr>message 1</tr>
        <tr>message 2</tr>
    </table>
</div>
<script src="/static/js/chat_tab.js"></script>
{% endblock %}
