<!-- all shit will go here -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}connect {% endblock %}</title>
    {% block links %}
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
    <style media="screen">
      .form-control{
          width : 50%;
          display: inline-block;
      }
      .btn-primary {
        display:inline-block;
      }
    </style>
  </head>
  {% block content %}
  <body>
    <!-- IDEA: turning XMl for untitled.ui to html ASK 3b3azeem -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
This is id doesn't exist or not live right now
</div>
    <div class="jumbotron">

      <h5>Enter ID:</h5>
      <input id="contactid" type="text" name="" value="" class="form-control" aria-label="try to see if this user is availaibe">
      <button id="putid" type="button" class="btn btn-primary" name="button" aria-label="try to see if this user is availaibe">connect</button>
      <h5>Get my ID:</h5>
      <input id="mycontactid" type="text" name="" value="" class="form-control" aria-label="try to see if this user is available" readonly>
      <button id="getmyid" type="button" class="btn btn-primary" name="button" aria-label="try to see if this user is availaibe">get my Id</button>
    </div>
    <input value="{{ token }}" id="token" hidden>

<!--    window.open('http://127.0.0.1:5000') -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">connection received</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </div>
          <div class="modal-body" id='connection_id'>
            this id is trying to connect
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='open_connection'>accept</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

    <script src="/static/js/main.js" charset="utf-8"></script>
    {% endblock %}
<!--  <script src="/static/js/checking.js">-->
<!--  </script>-->
  </body>
</html>
